.header-control{
    background-color:#3b5998;
    width: 100%;
    height: 90px;
}
.control-align{
    width: 900px;
    height: 300px;
    margin-left: auto;
    margin-right: auto; 
}
.control{

    float: left;
    color: white;
    font-family:inherit;
    height: 15px;
}
.login{
    float: right;
    font-family: Arial;
    font-size: 14px;
    margin-top: 20px;
    margin-left: 20px;
    color: rgb(210, 230, 252);
    padding-right: 1px;
}
.login a{
    color:rgb(210, 230, 252) ;
}
.inputtex{
    width: 140px;
    height: 20px;
    margin-left: 10px;
    margin-right: 5px;
}
.btn{
    background-color: #4267b2;
    color:#f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1px;
    border: none;
    margin-left: 2px;
    border-radius:0.3px;
    background-origin: shadow 3px;
    width: 50px;
}
.content-control{
    width:980px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.left{
    float: left;
    margin-top: 40px;
    margin-right: 10px;
    padding-left: 10px;
    width: 380px;
    font-family: Arial;
    columns: #0e385f;
}
.left h3{
margin-top: 10px;
margin-bottom: 10px;
padding-left: 20px;
}
.right{
    float: right;
    font-family: Arial;
    margin-top: 20px;
}
.ipt{
    width: 180px;
    height: 30px;
    margin-top: 10px;
    margin-left: 0.5px;
    border: none;
    border: 1px solid #95a5a6;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 15px;
}
.ipt2{
    width: 375px;
    height: 30px;
    margin-top: 10px;
    margin-left: auto;
    border: none;
    border: 1px solid #95a5a6;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 15px;
}
.button{
    width: 200px;
    height: 40px;
    background-color:rgb(19, 160, 54);
    color: rgb(240, 255, 240);
    text-shadow: rgb(27, 23, 25);
    text-transform: none;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 600;
    font-family: sans-serif;
}
}